body {
    background-color: #CFCFCF;
    ;
}

.footer-class {
    height: 200px;
    margin-top: 150px;

}

.side-style {
    height: 300px;
    width: 300px;
}





/* //common function
function getTextElementById(elementId) {
    const TotalElement = document.getElementById(elementId);
    const currentTotal = TotalElement.innerText;
    return currentTotal;
}


function getInputValueById(inputId) {
    const inputField = document.getElementById(inputId);
    const inputFieldValueString = inputField.value;
    const inputFieldValue = parseFloat(inputFieldValueString);
    inputField.value = "";
    return inputFieldValue;
}

function disable(buttonID) {
    const disableButton = document.getElementById(buttonID);
    disableButton.disabled = true;
    disableButton.style.backgroundColor = 'gray';
}

//project code



document.getElementById('neymar-btn').addEventListener('click', function () {
    const playerName = getTextElementById('neymar');
    const createLi = document.createElement('li');
    createLi.innerText = playerName;
    const orderList = document.getElementById('order-list');
    orderList.appendChild(createLi);
    disable('neymar-btn');
})


document.getElementById('messi-btn').addEventListener('click', function () {
    const playerName = getTextElementById('messi');
    const createLi = document.createElement('li');
    createLi.innerText = playerName;
    const orderList = document.getElementById('order-list');
    orderList.appendChild(createLi);
    disable('messi-btn');
})
document.getElementById('mbappe-btn').addEventListener('click', function () {
    const playerName = getTextElementById('mbappe');
    const createLi = document.createElement('li');
    createLi.innerText = playerName;
    const orderList = document.getElementById('order-list');
    orderList.appendChild(createLi);
    disable('mbappe-btn');
})
document.getElementById('victor-btn').addEventListener('click', function () {
    const playerName = getTextElementById('victor');
    const createLi = document.createElement('li');
    createLi.innerText = playerName;
    const orderList = document.getElementById('order-list');
    orderList.appendChild(createLi);
    disable('victor-btn');
})
document.getElementById('ramos-btn').addEventListener('click', function () {
    const playerName = getTextElementById('ramos');
    const createLi = document.createElement('li');
    createLi.innerText = playerName;
    const orderList = document.getElementById('order-list');
    orderList.appendChild(createLi);
    disable('ramos-btn');
})
document.getElementById('renato-btn').addEventListener('click', function () {
    const playerName = getTextElementById('renato');
    const createLi = document.createElement('li');
    createLi.innerText = playerName;
    const orderList = document.getElementById('order-list');
    orderList.appendChild(createLi);
    disable('renato-btn');
})


const totalLI = document.getElementById('order-list');
const resultOfLi = totalLI.querySelectorAll('li').length;


const perInput = getInputValueById('per-player-input');
const expensive = document.getElementById('expense');

const calculateBtn = document.getElementById('calculate-btn').addEventListener('click', function () {
    const totalExpense = resultOfLi + perInput;
    expensive.innerText = totalExpense;
})

 */